.font1-xl {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.font1-l {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.font1-r {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font1-sb {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.font1-b {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.font1-black {
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.font2-l {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.font2-r {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font2-m {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.font2-sb {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.font2-b {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
