.header-bg {
  background-color: var(--cor-p1);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 1.25rem;
}

.header a img {
  width: 100%;
}

.header-menu a {
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background: var(--cor-0);
  margin-top: 3px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover::after,
.header-menu a.ativo::after {
  width: 100%;
}

.loja {
  position: relative;
  display: grid;
  align-items: center;
}

.loja::after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  background: url("../../img/Sacola.svg") no-repeat;
  left: -25px;
}
